<div class="post-grid">

<% @posts.each do | post | %>
    <div class="box card mr-1 p-3 d-flex flex-column">
            <div class="media-left d-flex">
                <figure class="">
                    <%= gravatar_image_tag("https://avatars0.githubusercontent.com/u/24191094?s=460&u=3ff3f72b1d024776af5a0a60534f5a5f98e741b1&v=4",size: 15, alt: post.user.name, class: 'rounded-circle mr-2') %>
                </figure>
                <div class="content d-flex flex-column">
                    
                    <div class="d-flex flex-column m-0 p-0">
                        <%= user_signed_in(post) %>
                    </div>    
                </div>  
            </div>

        <article class=" media d-flex">
            <div class="media-content">
                <p class="post-title text-uppercase"><%= link_to post.title, post_path(post) %></p>
                <p class="w-100 post-body"><%= post.post %> </p> 
            </div>
        </article>
        
    </div>
<% end %>
</div>
