<div class="column is-half">
<% @posts.each do | post | %>
    <div class="box card mb-2">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64 ">
                    <%= gravatar_image_tag(post.user.email, size: 64, class: 'rounded-circle mr-2',  alt: post.user.name) %>
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                <% if user_signed_in? %>
                        <strong class="text-capitalize "> <%= post.user.name %> </strong><br />
                        <small> @<%= post.user.username %> </small><br />
                        <% else %>
                            <strong> Anonymous User </strong><br />
                            <small> @Anonymous </small><br />
                        <% end %>
                    <p><%= post.title %> </p>
                </div>
            </div>
        </article>
    </div>
<% end %>
</div>