<%= render 'nav' %>

<div class="d-flex m-0 p-0">
    <div class="left col-12 p-3">
        <%= render 'feed' %>    
    </div>
    <!-- <div class="right col-3 p-3 card my-3">
        <%= render 'latest-post' %>
    </div> -->
</div>
